<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cheng.manage.dao.account.role.RoleMapper">
    <resultMap id="BaseResultMap" type="com.cheng.manage.entity.account.role.RoleBO">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="display_order" property="displayOrder" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="BIT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_id" property="createId" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_id" property="updateId" jdbcType="INTEGER"/>
        <result column="reserved_one" property="reservedOne" jdbcType="VARCHAR"/>
        <result column="reserved_two" property="reservedTwo" jdbcType="VARCHAR"/>
        <result column="reserved_three" property="reservedThree" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通过姓名的查询角色总数 -->
    <update id="countByName">
        SELECT count(id) FROM role
        WHERE
        `name` = #{name}
        <if test="excludeId !=null">
            AND id != #{excludeId}
        </if>
    </update>

    <!-- 查询角色列表 -->
    <select id="getRoleList" resultMap="BaseResultMap">
        SELECT
        id, `name`, display_order, status, remark, create_id, create_time, update_id, update_time
        FROM
            role
        <where>
            <if test="name">
                `name` LIKE #{name}
            </if>
        </where>
        order by display_order
    </select>

    <!-- 根据ID查询修改时间 -->
    <select id="getUpdateTimeById" resultType="java.util.Date">
        SELECT update_time FROM role WHERE id = #{id}
    </select>

    <!-- 根据角色id查询角色名称 -->
    <select id="getRoleNameById" resultType="java.lang.String">
        SELECT name FROM role WHERE id = #{id}
    </select>

    <!-- 获取超级管理员角色列表 -->
    <select id="getAllRole" resultMap="BaseResultMap">
        SELECT id, `name` FROM role WHERE status = 1 ORDER BY display_order
    </select>

    <!-- 获取超级管理员角色id列表 -->
    <select id="getAllRoleId" resultType="java.lang.Integer">
        SELECT id FROM role WHERE status = 1 ORDER BY display_order
    </select>
</mapper>